<div class = "bg-green">

  <form action="/event/listing" method= "GET">

  <input name="date" type="date" id="myInput" placeholder="Filter by date" title="Type in a name">
  
  <label>Category</label>
    <select name="category" type="text"  placeholder="Filter by category">
      <option></option>
      <option>Sports</option>
      <option>Music</option>
      <option>Garage Sales</option>
      <option>Meet-Ups</option>
      <option>Arts and Crafts</option>
      <option>Gaming</option>
      <option>Food</option>
      <option>Fashion</option>
      <option>Seminars</option>
      <option>Themed Parties</option>
      <option>Others</option>
    </select>

  <label>Location</label>
    <select name="category" type="text"  placeholder="Filter by category">
      <option></option>
      <option>Berlin</option>
      <option>Porto</option>
      <option>Lisbon</option>
      <option>Amsterdam</option>
      <option>Madrid</option>
      <option>Paris</option>
    </select>

    <button class="small-btn" type="submit">Search</button></a>

  </form>
    <div class="events-content">
      <h1>Looking for an Event?</h1>



<div class = "event">
      {{#each events}}  
    <div class="card" style="width: 20rem;">
      <img src="{{this.eventPic}}" class="card-img-top" alt="...">
      <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <div class ="event-title">{{this.date}}</div>
            <div>{{this.location}}</div>
            <div>{{this.category}}</div>
            <div>Age Restriction: {{this.ageRestriction}}</div>
          {{#if this.showButtons}}
            <a href="/event/{{this._id}}/edit"><button class="small-btn">Edit</button></a>
            <a href="/event/{{this._id}}/delete"><button class="small-btn">Delete</button></a>
          {{/if}}
          <a href="/event/{{this._id}}/details"><button class="small-btn">Details</button></a>
      </div>
  </div>      
      {{/each}}
</div>
</div>
    

