<h2>Update event</h2>
<form method="POST" action="/event/{{events._id}}/edit">

  <label>Title</label>
  <input value = "{{events.title}}" name="title" type="text"  placeholder="Enter the title of your event"  >

  <label>Date</label>
  <input value = "{{date.title}}" name="date" type="date"  placeholder="Enter the date of your event"  >

  <label>Location</label>
  <input value = "{{location.title}}" name="location" type="text"  placeholder="Enter location of your event"  >

  <label>Description</label>
  <input value = "{{description.title}}" name="description" type="text"  placeholder="Enter a description about your event"  >

  {{!-- <label>Category</label>
  <input name="description" type="text"  placeholder="Enter a description about your event"  > --}}

  <label>Age Restriction (optional)</label>
  <input value = "{{events.ageRegistration}}" name="ageRestriction" type="number"  placeholder="Enter a minimum age"  >

  {{!-- <label>Add photo (optional)</label>
  <input name="photo" type="text"  placeholder="Uplod an event photo"  > --}}


  <button type="submit" class="btn btn-primary">Update</button>
</form>

<form action="/updatePic/{{events._id}}" method="POST" enctype="multipart/form-data">
  <input type="file" name="imageUrl" accept="image/png, image/jpg">
  <button type="submit">Submit</button> 
  </form> 